{{>header}}
{{>menu}}
<h3>Módulo de administración de cursos</h3>
<div class="form-group form-inline d-flex justify-content-center">
    <a class="btn btn-info" href="/crearCurso">Registrar curso</a>
</div>
<hr>
<br>
{{{listarCursos listCursos}}}
{{>footer}}