{{>header}}
<div class="container">
  <div class="title-center">
    <h3>Por favor ingrese al sistema para poder visualizar el menú o si no tiene un usuario favor registrarse</h3>
  </div>
  <hr>
  <br>
  <form action="/ingresar" method="post">
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" name="correo" aria-describedby="emailHelp"
        placeholder="Ingresar correo electronico" required>
    </div>
    <div class="form-group">
      <label for="pass">Contraseña</label>
      <input type="password" class="form-control" id="pass" name="contrasena" placeholder="Ingresar contraseña">
    </div>
    <div class="form-group form-inline d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Acceder</button>
      <a class="nav-link" href="/registrarse">Registrarse</a>
    </div>
  </form>
</div>
{{>footer}}