{{>header}}
{{>menu}}
<div class="container">
    <form action="/reservarCupo" method="post">
        <div class="form-group input-group">
            <input name="idcurso" class="form-control" value="{{idcurso}}" disabled placeholder="código del curso" type="number" required>
        </div>
         <div class="form-group input-group">
            <input name="identificacion" class="form-control" placeholder="Identificación" type="number" required>
        </div> 
        <div class="form-group input-group">
            <input name="nombre" class="form-control" placeholder="Nombre Completo" type="text" required>
        </div>
        <div class="form-group input-group">
            <input name="telefono" class="form-control" placeholder="Número de teléfono" type="number" required>
        </div>
        <div class="form-group input-group">
            <input name="correo" class="form-control" placeholder="E-mail" type="email" required>
        </div>
        <div class="form-group form-inline d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{{>footer}}