<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!--Bootstrap css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Entregable Tres</title>
</head>

<body>	

  <div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver  "> 
  <div class="jumbotron">   
        <img src="./img/banner.jpg" class="img-fluid" >
  </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
          <img src="./img/logo-ppal.jpg" class="img-fluid" >
        </div>   
        <div class="d-none d-md-block col-md-4 col-sm-4">
            <img src="./img/gel2.jpg" class="img-fluid" >
        </div>
        <div class="col-sm-4 col-md-4 text-center">
          <h3> {{titulo}} </h3>
        </div>
    </div>


