<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item ">
                <a class="nav-link" href="/">INICIO </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vernotas">VER NOTAS</a>
            </li> --}}
            {{!-- {{#if rolCoordinador}} --}}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Cursos
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/adminCurso">Registrar Cursos</a>
                     <div class="dropdown-divider"></div>
                    {{!-- <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a> --}}
                </div>
            </div>
            {{!-- {{/if}} --}}

            {{!-- {{#if rolAspirante}} --}}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Cursos
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/cursosDisponibles">Cursos disponibles</a>
                     <div class="dropdown-divider"></div>
                    {{!-- <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a> --}}
                </div>
            </div>
            {{!-- {{/if}} --}}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/salir" method="get">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Salir</button>
        </form>


    </div>
</nav>